In [1]:


import numpy as np
import pandas as pd
import requests

pd_data = pd.read_csv('전국푸드트럭허가구역표준데이터.csv', encoding='cp949')
pd_data.replace(np.NaN, '0')
for i in enumerate(pd_data.columns):
    print(i)

(0, '허가구역명')
(1, '장소유형')
(2, '시도명')
(3, '시군구명')
(4, '소재지도로명주소')
(5, '소재지지번주소')
(6, '위도')
(7, '경도')
(8, '푸드트럭운영대수')
(9, '허가구역사용료')
(10, '허가구역운영시작일자')
(11, '허가구역운영종료일자')
(12, '허가구역휴무일')
(13, '허가구역평일운영시작시각')
(14, '허가구역평일운영종료시각')
(15, '허가구역주말운영시작시각')
(16, '허가구역주말운영종료시각')
(17, '1월운영시작시각')
(18, '1월운영종료시각')
(19, '2월운영시작시각')
(20, '2월운영종료시각')
(21, '3월운영시작시각')
(22, '3월운영종료시각')
(23, '4월운영시작시각')
(24, '4월운영종료시각')
(25, '5월운영시작시각')
(26, '5월운영종료시각')
(27, '6월운영시작시각')
(28, '6월운영종료시각')
(29, '7월운영시작시각')
(30, '7월운영종료시각')
(31, '8월운영시작시각')
(32, '8월운영종료시각')
(33, '9월운영시작시각')
(34, '9월운영종료시각')
(35, '10월운영시작시각')
(36, '10월운영종료시각')
(37, '11월운영시작시각')
(38, '11월운영종료시각')
(39, '12월운영시작시각')
(40, '12월운영종료시각')
(41, '판매제한품목')
(42, '관리기관명')
(43, '관리기관전화번호')
(44, '데이터기준일자')
(45, '제공기관코드')
(46, '제공기관명')

In [14]:
print(pd_data.shape)
num_descr_df = pd_data.describe()
print(num_descr_df.columns)
print(pd_data.columns)

lista= list(pd_data.columns)
for e in list(num_descr_df.columns):
    lista.remove(e)
print(len(pd_data.columns), len(lista))

pd_data[lista].describe()

허가구역명            object
장소유형              int64
시도명              object
시군구명             object
소재지도로명주소         object
소재지지번주소          object
위도              float64
경도              float64
푸드트럭운영대수        float64
허가구역사용료          object
허가구역운영시작일자       object
허가구역운영종료일자       object
허가구역휴무일          object
허가구역평일운영시작시각     object
허가구역평일운영종료시각     object
허가구역주말운영시작시각     object
허가구역주말운영종료시각     object
1월운영시작시각         object
1월운영종료시각         object
2월운영시작시각         object
2월운영종료시각         object
3월운영시작시각         object
3월운영종료시각         object
4월운영시작시각         object
4월운영종료시각         object
5월운영시작시각         object
5월운영종료시각         object
6월운영시작시각         object
6월운영종료시각         object
7월운영시작시각         object
7월운영종료시각         object
8월운영시작시각         object
8월운영종료시각         object
9월운영시작시각         object
9월운영종료시각         object
10월운영시작시각        object
10월운영종료시각        object
11월운영시작시각        object
11월운영종료시각        object
12월운영시작시각        object
12월운영종료시각        object
판매제한품목           object
관리기관명            object
관리기관전화번호         object
데이터기준일자          object
제공기관코드           object
제공기관명            object
dtype: object
Index(['장소유형', '위도', '경도', '푸드트럭운영대수'], dtype='object')
Index(['허가구역명', '장소유형', '시도명', '시군구명', '소재지도로명주소', '소재지지번주소', '위도', '경도',
       '푸드트럭운영대수', '허가구역사용료', '허가구역운영시작일자', '허가구역운영종료일자', '허가구역휴무일',
       '허가구역평일운영시작시각', '허가구역평일운영종료시각', '허가구역주말운영시작시각', '허가구역주말운영종료시각',
       '1월운영시작시각', '1월운영종료시각', '2월운영시작시각', '2월운영종료시각', '3월운영시작시각', '3월운영종료시각',
       '4월운영시작시각', '4월운영종료시각', '5월운영시작시각', '5월운영종료시각', '6월운영시작시각', '6월운영종료시각',
       '7월운영시작시각', '7월운영종료시각', '8월운영시작시각', '8월운영종료시각', '9월운영시작시각', '9월운영종료시각',
       '10월운영시작시각', '10월운영종료시각', '11월운영시작시각', '11월운영종료시각', '12월운영시작시각',
       '12월운영종료시각', '판매제한품목', '관리기관명', '관리기관전화번호', '데이터기준일자', '제공기관코드',
       '제공기관명'],
      dtype='object')
47 43

,허가구역명,시도명,시군구명,소재지도로명주소,소재지지번주소,허가구역사용료,허가구역운영시작일자,허가구역운영종료일자,허가구역휴무일,허가구역평일운영시작시각,...,11월운영시작시각,11월운영종료시각,12월운영시작시각,12월운영종료시각,판매제한품목,관리기관명,관리기관전화번호,데이터기준일자,제공기관코드,제공기관명
count,342,342,342,239,311,342,342,342,342,342,...,126,126,124,124,95,342,342,342,342,342
unique,304,16,103,216,276,123,255,197,58,19,...,13,12,13,12,18,115,132,87,108,108
top,아파트,경기도,흥덕구,충청북도 청주시 흥덕구 옥산면 오송가락로 1056 (청주리버파크자이),충청북도 청주시 흥덕구 송절동 851 청주테크노폴리스푸르지오,0,2021-01-01,2022-12-31,연중무휴,00:00,...,09:00,18:00,09:00,18:00,주류,충청북도 청주시 흥덕구청,043-201-1972,2022-08-18,5710000,충청북도 청주시
freq,10,80,23,5,5,180,10,39,240,113,...,45,28,45,28,58,23,36,36,36,36

In [4]:
#np.unique(pop_df('시도명'))
national_site_count = pd_data.shape[0]
pd_data['시도명'].value_counts()

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [7]:
print(pd_data['시도명'].describe())
print(pd_data['푸드트럭운영대수'].describe())

count     342
unique     16
top       경기도
freq       80
Name: 시도명, dtype: object
count    251.000000
mean       1.768924
std        2.952015
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       25.000000
Name: 푸드트럭운영대수, dtype: float64

In [29]:
pd_data['푸드트럭운영대수'].sum()

444.0

In [30]:
sub_data = pd_data[['시도명', '푸드트럭운영대수']]
sub_data.groupby('시도명').sum()

         푸드트럭운영대수
시도명
강원도          25.0
경기도         136.0
경상남도         57.0
경상북도         17.0
광주광역시        14.0
대구광역시         4.0
대전광역시        12.0
부산광역시        17.0
서울특별시        35.0
울산광역시         1.0
인천광역시         9.0
전라남도         29.0
전라북도         10.0
제주특별자치도      41.0
충청남도         30.0
충청북도          7.0

In [16]:
x = pd_data['허가구역운영시작일자'].astype(np.datetime64)
print(x.dt.day)

0      30
1       4
2      25
3      21
4      19
       ..
337    17
338    17
339    14
340     1
341     1
Name: 허가구역운영시작일자, Length: 342, dtype: int64

In [17]:
pd_data['허가구역휴무일'].value_counts()

연중무휴                          240
없음                             10
월요일+화요일+수요일+목요일+금요일             7
공휴일                             5
-                               4
토요일+일요일+공휴일                     4
비정기적+우천시휴무                      4
월+화+수+금+토+일                     3
평일                              3
사정에 따라 다름                       3
미지정                             2
미운영                             2
일주일에 한번 자율적 휴무                  2
월+화+수+목                         2
행사종료일                           2
월                               2
동절기(12월~2월)                     2
월+화+수+목+금                       2
토+일                             2
화+수+목+금+토+일                     2
성수기 외 휴무                        2
일요일                             1
1월+2월+12월                       1
무                               1
운영중단                            1
월+화+수+목+금+일                     1
월+수+목+금+토+일                     1
트럭별 상이                          1
화요일+수요일                         1
월요일+화요일+수요일+목요일                 1
운영종료(축제기간 중 한시적 운영)             1
매주 월요일+신정+설날+추석 전일+추석 당일        1
비정기적                            1
월요일                             1
월+화+수+목+토+일                     1
월요일+공휴일                         1
매달 5번째 월요일                      1
토요일,일요일                         1
일요일 ~ 수요일                       1
일요일 휴무                          1
토+일+공휴일                         1
토요일+일요일                         1
월+화+목+금+토+일                     1
첫째 주+셋째 주 제외한 나머지 주             1
5일+10일+15일+20일+25일+30일          1
야구 비시즌                          1
3일+8일+13일+18일+23일+28일           1
2일+7일+12일+17일+22일+27일           1
계약일                             1
일정하지않음                          1
4일+9일+14일+19일+24일+29일           1
미공연 시                           1
비수기+우천시 휴무                      1
주말, 휴일 주로 운영 평일은 행시간 위주 운영      1
1개월 내 3~4일 비정기적 휴무              1
운영종료(행사기간 중 한시적 운영)             1
1월~5월+9월~12월                    1
연중무휴* 휴무시 사전 알림 (행사참여 등)        1
Name: 허가구역휴무일, dtype: int64

In [25]:
x = pd_data['허가구역휴무일'].astype('category')
#print(x)
print(x.cat.codes)
df1 = pd.DataFrame({'label':x, 'code':x.cat.codes})
df1.sort_values(['codes', 'label'], ascending=False)

0      51
1      54
2      54
3      36
4      48
       ..
337    23
338    23
339    23
340    23
341    23
Length: 342, dtype: int8

KeyError: 'codes'

In [30]:
def myfn(x):
    print(x, type(x))
    return np.sum(x)*100

sub_data = pd_data[['시도명', '푸드트럭운영대수']]
g1 = sub_data.groupby('시도명')
# g1.sum()
# g1.count()
# g1.std()
# g1.describe()
# g1.aggregate([np.sum, np.mean, np.std])
# g1.aggregate(lambda x: np.sum(x)*100)
# g1.apply(lambda x: np.sum(x)*100)
# g1.aggregate(myfn)
#g1.apply(myfn)

     시도명  푸드트럭운영대수
25   강원도       NaN
26   강원도       NaN
27   강원도       NaN
28   강원도       NaN
29   강원도       NaN
30   강원도       NaN
31   강원도       NaN
32   강원도       NaN
35   강원도       1.0
36   강원도       1.0
89   강원도       1.0
90   강원도       1.0
91   강원도       1.0
92   강원도       1.0
93   강원도       1.0
94   강원도       1.0
105  강원도       1.0
108  강원도       1.0
117  강원도       2.0
173  강원도       1.0
174  강원도       1.0
175  강원도       1.0
176  강원도       1.0
177  강원도       1.0
235  강원도       1.0
236  강원도       1.0
237  강원도       1.0
238  강원도       1.0
241  강원도       3.0
242  강원도       1.0
277  강원도       NaN
278  강원도       NaN
279  강원도       NaN
303  강원도       NaN <class 'pandas.core.frame.DataFrame'>
     시도명  푸드트럭운영대수
3    경기도       NaN
4    경기도       NaN
5    경기도       NaN
6    경기도       NaN
7    경기도       NaN
..   ...       ...
337  경기도       1.0
338  경기도       1.0
339  경기도       1.0
340  경기도       1.0
341  경기도       1.0

[80 rows x 2 columns] <class 'pandas.core.frame.DataFrame'>
      시도명  푸드트럭운영대수
11   경상남도       3.0
12   경상남도       1.0
13   경상남도       3.0
14   경상남도       1.0
16   경상남도       1.0
17   경상남도       1.0
18   경상남도       1.0
19   경상남도       1.0
20   경상남도       1.0
87   경상남도       1.0
106  경상남도       1.0
118  경상남도       1.0
119  경상남도       1.0
120  경상남도       1.0
121  경상남도       1.0
147  경상남도       1.0
148  경상남도       1.0
149  경상남도       1.0
150  경상남도       NaN
191  경상남도       1.0
192  경상남도       1.0
193  경상남도       1.0
195  경상남도       1.0
230  경상남도       1.0
231  경상남도       1.0
232  경상남도       1.0
233  경상남도       1.0
234  경상남도       1.0
244  경상남도       1.0
248  경상남도       2.0
249  경상남도       1.0
250  경상남도       1.0
251  경상남도       1.0
252  경상남도       1.0
280  경상남도       1.0
281  경상남도       1.0
282  경상남도       1.0
312  경상남도       1.0
313  경상남도       1.0
314  경상남도       1.0
315  경상남도       1.0
316  경상남도       1.0
317  경상남도       1.0
318  경상남도       1.0
319  경상남도       1.0
324  경상남도       1.0
325  경상남도       1.0
326  경상남도       6.0 <class 'pandas.core.frame.DataFrame'>
      시도명  푸드트럭운영대수
95   경상북도       7.0
114  경상북도       1.0
115  경상북도       1.0
129  경상북도       1.0
130  경상북도       1.0
131  경상북도       1.0
132  경상북도       1.0
196  경상북도       1.0
197  경상북도       1.0
209  경상북도       1.0
310  경상북도       1.0 <class 'pandas.core.frame.DataFrame'>
       시도명  푸드트럭운영대수
15   광주광역시       1.0
64   광주광역시       NaN
65   광주광역시       NaN
66   광주광역시       NaN
67   광주광역시       NaN
104  광주광역시       1.0
127  광주광역시       0.0
128  광주광역시      10.0
198  광주광역시       NaN
199  광주광역시       NaN
200  광주광역시       NaN
210  광주광역시       1.0
289  광주광역시       0.0
323  광주광역시       1.0 <class 'pandas.core.frame.DataFrame'>
       시도명  푸드트럭운영대수
37   대구광역시       NaN
38   대구광역시       NaN
39   대구광역시       NaN
40   대구광역시       NaN
41   대구광역시       NaN
42   대구광역시       NaN
57   대구광역시       1.0
103  대구광역시       1.0
161  대구광역시       0.0
162  대구광역시       0.0
207  대구광역시       2.0
243  대구광역시       NaN <class 'pandas.core.frame.DataFrame'>
       시도명  푸드트럭운영대수
72   대전광역시       4.0
73   대전광역시       4.0
109  대전광역시       NaN
110  대전광역시       NaN
111  대전광역시       NaN
140  대전광역시       4.0 <class 'pandas.core.frame.DataFrame'>
       시도명  푸드트럭운영대수
0    부산광역시       1.0
1    부산광역시       1.0
2    부산광역시       1.0
21   부산광역시       1.0
22   부산광역시       2.0
23   부산광역시       7.0
24   부산광역시       1.0
276  부산광역시       2.0
283  부산광역시       1.0 <class 'pandas.core.frame.DataFrame'>
       시도명  푸드트럭운영대수
47   서울특별시       1.0
48   서울특별시       1.0
51   서울특별시       1.0
55   서울특별시       2.0
78   서울특별시       1.0
79   서울특별시       3.0
80   서울특별시       1.0
81   서울특별시       1.0
136  서울특별시       1.0
137  서울특별시       2.0
138  서울특별시       1.0
139  서울특별시       1.0
153  서울특별시       1.0
239  서울특별시      14.0
240  서울특별시       1.0
309  서울특별시       0.0
311  서울특별시       3.0 <class 'pandas.core.frame.DataFrame'>
       시도명  푸드트럭운영대수
332  울산광역시       1.0 <class 'pandas.core.frame.DataFrame'>
       시도명  푸드트럭운영대수
9    인천광역시       1.0
10   인천광역시       1.0
44   인천광역시       1.0
84   인천광역시       NaN
85   인천광역시       NaN
86   인천광역시       NaN
152  인천광역시       4.0
258  인천광역시       2.0 <class 'pandas.core.frame.DataFrame'>
      시도명  푸드트럭운영대수
124  전라남도       NaN
125  전라남도       NaN
126  전라남도       1.0
141  전라남도       0.0
142  전라남도       0.0
143  전라남도       0.0
144  전라남도       0.0
145  전라남도       0.0
146  전라남도       0.0
208  전라남도      25.0
222  전라남도       NaN
331  전라남도       2.0
333  전라남도       1.0 <class 'pandas.core.frame.DataFrame'>
      시도명  푸드트럭운영대수
8    전라북도       1.0
178  전라북도       NaN
179  전라북도       NaN
217  전라북도       1.0
218  전라북도       1.0
219  전라북도       1.0
229  전라북도       6.0 <class 'pandas.core.frame.DataFrame'>
         시도명  푸드트럭운영대수
180  제주특별자치도       1.0
181  제주특별자치도       1.0
182  제주특별자치도       1.0
183  제주특별자치도       1.0
184  제주특별자치도       1.0
185  제주특별자치도       1.0
186  제주특별자치도       1.0
187  제주특별자치도       1.0
188  제주특별자치도       1.0
223  제주특별자치도       1.0
224  제주특별자치도       1.0
225  제주특별자치도       1.0
226  제주특별자치도       1.0
227  제주특별자치도       1.0
255  제주특별자치도       1.0
256  제주특별자치도      18.0
257  제주특별자치도       8.0 <class 'pandas.core.frame.DataFrame'>
      시도명  푸드트럭운영대수
43   충청남도       5.0
49   충청남도       NaN
50   충청남도       NaN
58   충청남도       1.0
59   충청남도       3.0
60   충청남도       4.0
61   충청남도       1.0
62   충청남도       1.0
63   충청남도       9.0
101  충청남도       1.0
112  충청남도       NaN
113  충청남도       NaN
154  충청남도       NaN
155  충청남도       NaN
156  충청남도       NaN
157  충청남도       NaN
158  충청남도       NaN
159  충청남도       NaN
160  충청남도       NaN
228  충청남도       1.0
305  충청남도       1.0
306  충청남도       1.0
307  충청남도       1.0
308  충청남도       1.0 <class 'pandas.core.frame.DataFrame'>
      시도명  푸드트럭운영대수
45   충청북도       NaN
46   충청북도       NaN
52   충청북도       NaN
53   충청북도       NaN
54   충청북도       NaN
74   충청북도       NaN
75   충청북도       NaN
76   충청북도       NaN
77   충청북도       NaN
82   충청북도       NaN
83   충청북도       NaN
123  충청북도       1.0
135  충청북도       NaN
163  충청북도       NaN
164  충청북도       NaN
165  충청북도       NaN
166  충청북도       NaN
167  충청북도       NaN
168  충청북도       NaN
169  충청북도       NaN
170  충청북도       NaN
171  충청북도       NaN
172  충청북도       NaN
245  충청북도       NaN
246  충청북도       NaN
247  충청북도       NaN
259  충청북도       1.0
260  충청북도       NaN
261  충청북도       NaN
262  충청북도       NaN
263  충청북도       NaN
264  충청북도       NaN
265  충청북도       NaN
266  충청북도       NaN
267  충청북도       NaN
268  충청북도       NaN
269  충청북도       NaN
327  충청북도       2.0
328  충청북도       1.0
329  충청북도       1.0
330  충청북도       1.0 <class 'pandas.core.frame.DataFrame'>

                                                       시도명  푸드트럭운영대수
시도명
강원도      강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강...    2500.0
경기도      경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경...   13600.0
경상남도     경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상...    5700.0
경상북도     경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상...    1700.0
광주광역시    광주광역시광주광역시광주광역시광주광역시광주광역시광주광역시광주광역시광주광역시광주광역시광...    1400.0
대구광역시    대구광역시대구광역시대구광역시대구광역시대구광역시대구광역시대구광역시대구광역시대구광역시대...     400.0
대전광역시    대전광역시대전광역시대전광역시대전광역시대전광역시대전광역시대전광역시대전광역시대전광역시대...    1200.0
부산광역시    부산광역시부산광역시부산광역시부산광역시부산광역시부산광역시부산광역시부산광역시부산광역시부...    1700.0
서울특별시    서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서...    3500.0
울산광역시    울산광역시울산광역시울산광역시울산광역시울산광역시울산광역시울산광역시울산광역시울산광역시울...     100.0
인천광역시    인천광역시인천광역시인천광역시인천광역시인천광역시인천광역시인천광역시인천광역시인천광역시인...     900.0
전라남도     전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라...    2900.0
전라북도     전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라...    1000.0
제주특별자치도  제주특별자치도제주특별자치도제주특별자치도제주특별자치도제주특별자치도제주특별자치도제주특별...    4100.0
충청남도     충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청...    3000.0
충청북도     충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청...     700.0

In [35]:
# def myfn2(x):
#     if x==np.NaN:
#         return 0.0
#     else:
#         return x

# x = pd_data['푸드트럭운영대수'].apply(myfn2)
# print(x)

x = pd_data['푸드트럭운영대수']
x.replace(np.NaN, 0.0)

0      1.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
337    1.0
338    1.0
339    1.0
340    1.0
341    1.0
Name: 푸드트럭운영대수, Length: 342, dtype: float64